<% return if can? :update, @message %>
<main>
  <div id="index-banner" class="parallax-container fullscreen">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <h4 class="header col s12 light">Thank you</h4>
        </div>
      </div>
    </div>
      <div class="parallax change">
        <img src="#" alt="waiting_wall_background_image">
      </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row"> 
        <div class="col s12"><p class="light">...for helping us build The Waiting Wall.</p>
        <br/>
        <!-- <p class="light">Give us a moment while someone approves your message. It will appear shortly on the wall. </p> -->
        <br/>
        <hr>
        </div>
          <div class="row center">
            <%= link_to append_current_tenant_subdomain_url('/thewall'), class: 'btn-large waves-effect waves-light amber darken-1', method: "get" do %>
            View the Wall
            <% end %>
          </div>
        
          <div class="row center">
            <div class="col s4 offset-s4 grid-example center"><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.thewaitingwall.com&text=The%20Waiting%20Wall:%20http%3A%2F%2Fwww.thewaitingwall.com&via=thewaitingwall&hashtags=bdf15" target="_blank" title="Tweet"><i class="fa fa-twitter fa-lg"></i></a> <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.thewaitingwall.com&t=The%20Waiting%20Wall" title="Share on Facebook" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>

<%= render 'layouts/footer'%>