<div id="index-banner" class="parallax-container full-screen">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <h4 class="header col s12 light">The Waiting Wall</h4>
      </div>
    </div>
  </div>
  <div class="parallax change">
    <img src="#" alt="waiting_wall_background_image">
  </div>
  <% # image_tag('https://s3-eu-west-1.amazonaws.com/wallbackgroundimages/uploads/background_image/image/4/a_IMG_3373.jpg', class: 'responsive-img parallax') %>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#what">The What?</a></li>
          <li class="tab col s3"><a href="#who">The Who?</a></li>
          <li class="tab col s3 last"><a href="#where">The Where?</a></li>
        </ul>
      </div>
      <div id="what" class="col s12">
        <br/>
        <p class="light">It’s often when waiting, for something or someone, that there is the time to reflect.  That can be uncomfortable or it can be a blessing: a break from rushing around where we are never quite alone with our thoughts. </p>
        <br/>
        <p class="light">Inspired by the author Alain de Botton's secular version of Jerusalem's Wailing Wall (where for centuries, Jews have prayed), The Waiting Wall allows you to anonymously share your hopes, problems and confessions.</p> 
        <br/>
        <p class="light">Share them with the wall so we can all realise that none of us are alone in our own world of problems.
      </div>
      <div id="who" class="col s12">
        <br/>
        <p class="light">We, Free The Trees, were inspired by Alain de Botton's excellent book: Religion for Atheists and moved by digital artist Witchoria's beautiful pieces on the different stages of grief. As a backdrop, we used photos taken of Brighton whilst battered by a storm or when enveloped in a fog from the sea.</p>
        <br/>
        <p class="light">
        Join us by posting a message to the wall. Once you do, you will see details of our 'Public View' event where everyone who contributed to building the wall, by posting a message to it, will be invited.
        </p>
        <br/><br/><p class="light">Learn more: <a href="http://freethetrees.co.uk/" alt="Free The Trees home page">Free The Trees</a> / <a href="http://alaindebotton.com/religion" alt="Religion for Atheists">Religion for Atheists</a> / <a href="https://ello.co/witchoria/post/DBs5UxirltuGyR1RrKL_Zw" alt="the art that inspired the waiting wall">Witchoria: Different Stages of Grief </a></p>
      </div>
      <div id="where" class="col s12">
        <br/>
        <p class="light">For the last week in September, The Waiting Wall will be shown on the advertising screen in Brighton Station concourse. All messages posted will have a chance of been shown on the screen. You can also see a live version of the wall <a href="http://www.thewaitingwall.com/thewall" target="_blank" alt="the waiting wall">here</a> and messages will be streamed to our  <a href="https://twitter.com/thewaitingwall" target="_blank" alt="waiting wall twitter">twitter feed.</a></p>
        <br/>
        <p class="light">We will be having a 'Public View' event (with free drinks, etc) from 6pm on Thurs, 10th Sept, at Brighton Station's 'The Cyclist' venue, for all those that helped build the wall by posting a message to it. <a href="#" alt="blog on the waiting wall public view">Read more</a> about the ideas beind the public view.</p> 
        <br/>
        <p class="light">Post a message below to contribute to something beautiful and view details of the 'Public View'.
        </p>
      </div>
    </div>

  </div>
  <hr>
  <%= render 'form' %>
</div>
<%= render 'layouts/footer'%>
