<div class="section">
  <div id="main-content">
    <h3>The What?</h3>
    <p>
      Jerusalem's Wailing Wall, where since the 4th Century people have anonymously posted their prayers of hope, shared their concerns or sought forgiveness by confessing... etc etc...
    </p>
  </div>
</div>
<%= render 'form' %>
