<div class="section">
  <div id="main-content">
    <h3>The What?</h3>
    <p>It’s often when waiting, for something or someone, that there is the time to reflect.  That can be uncomfortable or it can be a blessing: a break from rushing around where we are never quite alone with our thoughts. </p>
    <br/>
    <p> Inspired by the author Alain de Botton's secular version of Jerusalem's Wailing Wall, The Waiting Wall allows you to anonymously share your hopes, problems and confessions. </p> 
    <br/>
    <p>Let worries, regrets and hopes bubble to the surface. Share them with the wall so we can all realise that none of us are alone in our own world of problems.
    </p>
  </div>
</div>
<%= render 'form' %>
