<header></header>
<main>
  <div id="index-banner" class="parallax-container full-screen">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <h4 class="header col s12 light">The Waiting Wall</h4>
        </div>
      </div>
    </div>
    <div class="parallax change">
      <img src="#" alt="waiting_wall_background_image">
    </div>
    <% # image_tag('https://s3-eu-west-1.amazonaws.com/wallbackgroundimages/uploads/background_image/image/4/a_IMG_3373.jpg', class: 'responsive-img parallax') %>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#what">The What?</a></li>
            <li class="tab col s3"><a href="#who">The Who?</a></li>
            <li class="tab col s3 last"><a href="#where">The Where?</a></li>
          </ul>
        </div>
        <div id="what" class="col s12">
          <br/>
          <p class="light">It’s often when waiting, for something or someone, that there is the time to reflect.  That can be uncomfortable or it can be a blessing: a break from rushing around where we are never quite alone with our thoughts. </p>
          <br/>
          <p class="light">Inspired by the author Alain de Botton's secular version of Jerusalem's Wailing Wall (where for centuries, Jews have prayed), The Waiting Wall allows you to anonymously share your hopes, problems and confessions.</p> 
          <br/>
          <p class="light">Share them with the wall so we can all realise that none of us are alone in our own world of problems.
        </div>
        <div id="who" class="col s12">
          <br/>
          <p class="light"><a href="http://freethetrees.co.uk/" title="Free The Trees home page">Free The Trees</a> were inspired by Alain de Botton's book <a href="http://alaindebotton.com/religion" title="Religion for Atheists">Religion for Atheists</a> and digital artist Witchoria's pieces on <a href="https://ello.co/witchoria/post/DBs5UxirltuGyR1RrKL_Zw" title="the art that inspired the waiting wall">the different stages of grief.</a> As a backdrop, we used photos  of Brighton whilst battered by a storm or when enveloped in a fog from the sea.</p>
          <br/>
          <br/>
          <p class="light">
          Post a message to The Waiting Wall below, to share your problems and contribute to something beautiful.
          </p>
          <br/>
          <p class="light">
          Contact: <a href="mailto:info@freethetrees">info@freethetrees.co.uk</a> / <a href="https://twitter.com/FreeTheTreesDev">@FreeTheTreesDev</a></p>
        </div>
        <div id="where" class="col s12">
          <br/>
          <p class="light">For one week, from the 21st September, a small selection of messages will be shown on the giant advertising screen on Brighton Station concourse. You can see a live version of the wall <%= link_to 'here', '/thewall' %> and messages will be streamed to <a href="https://twitter.com/thewaitingwall" target="_blank" title="waiting wall twitter">twitter.</a></p>
          <br/>
          <p class="light">Post a message to The Waiting Wall below, to share your problems and contribute to something beautiful.
          </p>
        </div>
      </div>

    </div>
    <hr>
    <%= render 'form' %>
  </div>
</main>
<%= render 'layouts/footer'%>
