<div id="wall_wrapper">
  
  <div style="display:none" id="current_batch_of_messages"><%= @current_batch.appended_messages %></div>
  <% image_tag(@current_batch.image_url, class: 'responsive-img parallax') %>
  <div class="row">

    <div class="displays z-depth-2 w-border-s center">
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
      <input class="display S"/>
    </div>
  </div>
</div>
