<div id="wall_wrapper">
  <div style="display:none" id="current_batch_of_messages"><%= @current_batch.appended_messages %></div>
  <main>
    <div id="index-banner" class="fullscreen">
      <div class="section no-pad-bot">
        <div class="container center">
          <br><br>
          <div class="row ticker center">
            <div class="displays">
              <input class="display S"/>
              <input class="display S"/>
              <input class="display S"/>
              <input class="display S"/>
              <input class="display S"/>
              <input class="display S"/>
              <input class="display S"/>
              <input class="display S"/>
              <input class="display S"/>
              <input class="display S"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
