
/**
 * CONTENTS - ripped royally from: http://cssguidelin.es/#table-of-contents (https://twitter.com/csswizardry)
 *
 * Framework Overrides
 *
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 * Bars, Sections, etc .Nav bars, etc.
 *
 * Text.................Text helpers.
 * Typography
 *
 * Colours..............
 */

/**
* Framework Overrides
**/

body {
  /*TODO - serve up smaller version for mobile...*/
  /* Location of the image */
/*  background-image: url(images/background-photo.jpg);*/
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}



nav .brand-logo.center {
	top: 0;
}



/**
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 */


#flapper-display-area {
  display: none;
  width: 100%;
  max-width: 960px;
}

/*==========================================================================================================

           #layout adjuster styles - margins, padding, borders etc 

=========================================================================================================*/ 

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.t-s {
  top: -5px;
}

.ptn,
.pvn,
.pan {
  padding-top: 0 !important;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px !important;
}
.pts,
.pvs,
.pas {
  padding-top: 5px !important;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px !important;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px !important;
}

.pth {
  padding-top: 50px !important;
}

.prn,
.phn,
.pan {
  padding-right: 0 !important;
}
.prx,
.phx,
.pax {
  padding-right: 3px !important;
}
.prs,
.phs,
.pas {
  padding-right: 5px !important;
}
.prm,
.phm,
.pam {
  padding-right: 10px !important;
}
.prl,
.phl,
.pal {
  padding-right: 20px !important;
}

.prh {
  padding-right: 40px !important;
}

.pbn,
.pvn,
.pan {
  padding-bottom: 0 !important;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px !important;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px !important;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px !important;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px !important;
}

.pbh {
  padding-bottom: 40px !important;
}

.pln,
.phn,
.pan {
  padding-left: 0 !important;
}
.plx,
.phx,
.pax {
  padding-left: 3px !important;
}
.pls,
.phs,
.pas {
  padding-left: 5px !important;
}
.plm,
.phm,
.pam {
  padding-left: 10px !important;
}
.pll,
.phl,
.pal {
  padding-left: 20px !important;
}

.plh {
  padding-left: 40px !important;
}

.mtn,
.mvn,
.man {
  margin-top: 0px !important;
}
.mtx,
.mvx,
.max {
  margin-top: 3px !important;
}
.mts,
.mvs,
.mas {
  margin-top: 5px !important;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px !important;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px !important;
}
.mtxl {
  margin-top: 50px !important;
}
.mrn,
.mhn,
.man {
  margin-right: 0px !important;
}
.mrx,
.mhx,
.max {
  margin-right: 3px !important;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px !important;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px !important;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px !important;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px !important;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px !important;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px !important;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px !important;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px !important;
}
.mln,
.mhn,
.man {
  margin-left: 0px !important;
}
.mlx,
.mhx,
.max {
  margin-left: 3px !important;
}
.mls,
.mhs,
.mas {
  margin-left: 5px !important;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px !important;
}
.mll,
.mhl,
.mal {
  margin-left: 20px !important;
}

.mth {
  margin-top: 40px !important;
}

.mbh {
  margin-bottom: 40px !important;
}

.mtxh {
  margin-top: 80px !important;
}

.mbxh {
  margin-bottom: 80px !important;
}

.m-x {
  margin: -3px !important;
}

.m-s {
  margin: -5px !important;
}

.m-m {
  margin: -10px !important;
}

.m-l {
  margin: -20px !important;
}

.m-h {
  margin: -40px !important;
}

.mt-x {
  margin-top: -3px !important;
}

.mt-s {
  margin-top: -5px !important;
}

.mt-m {
  margin-top: -10px !important;
}

.mt-l {
  margin-top: -20px !important;
}

.mt-h {
  margin-top: -40px !important;
}

.mb-x {
  margin-bottom: -3px !important;
}

.mb-s {
  margin-bottom: -5px !important;
}

.mb-m {
  margin-bottom: -10px !important;
}

.mb-l {
  margin-bottom: -20px !important;
}

.mb-h {
  margin-bottom: -40px !important;
}

.ml-s {
  margin-left: -5px !important;
}

.ml-m {
  margin-left: -10px !important;
}

.ml-l {
  margin-left: -20px !important;
}

.ml-h {
  margin-left: -40px !important;
}

.mr-s {
  margin-left: -5px !important;
}

.mr-m {
  margin-left: -10px !important;
}

.mr-l {
  margin-left: -20px !important;
}

.mr-h {
  margin-left: -40px !important;
}

.bt {
  border-top: 1px solid #ecf0f1;
}

.bb {
  border-bottom: 1px solid #ecf0f1;
}

.br {
  border-right: 1px solid #ecf0f1;
}

.br-dark {
  border-right: 1px solid #666;
}

.bl-dark {
  border-left: 1px solid #666;
}

.border-middle {  
  border-bottom: 1px solid #bdc3c7;
  margin-bottom: 20px;
}

.border-middle span {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  position: relative;
  top: 0.5em;
}

.border-middle-grey {
  border-bottom: 1px solid #bdc3c7;
  margin-bottom: 20px;
}

.border-middle-grey span {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
  position: relative;
  top: 0.5em;
}

.border-middle-lead span {
  position: relative;
  top: 0.8em;
}

.border-medium {
  border-bottom: 3px solid #333;
}

.border-all {
  border: 1px solid #333;
}

.btm-dark {
  border-top: 2px solid #333;
} 

.bbm-dark {
  border-bottom: 2px solid #333;
}

.w-border-s {
  border: white;
  border-style: solid;
  border-width: 1px;
}
