
/**
 * CONTENTS - ripped royally from: http://cssguidelin.es/#table-of-contents (https://twitter.com/csswizardry)
 *
 * Framework Overrides
 *
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 * Bars, Sections, etc .Nav bars, etc.
 *
 * Text.................Text helpers.
 * Typography
 *
 * Colours..............
 */

/**
* Framework Overrides
**/



nav .brand-logo.center {
	top: 0;
}



/**
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 */


#flapper-display-area {
  display: none;
  width: 100%;
  max-width: 960px;
}
