<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="col s6 m6 l6 center"><a href="http://brightondigitalfestival.co.uk" target="_blank">
        <%= image_tag("digifestival.png", width: 130) %></a></div>
        <div class="col s6 m6 l6 center"><a href="http://www.artscouncil.org.uk" target="_blank"><%= image_tag("artscouncil.png", width: 130) %></a></div>
        <div class="col s12">
        <p class="grey-text footer-text pts">
        The Waiting Wall has been made possible by Brighton Digital Festival through their Arts and Technology Commissioning programme.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
