<nav>
  <div class="nav-wrapper light-blue darken-4">
    <%= link_to "The Waiting Wall", messages_path, {id: "the-wall", class: "brand-logo center"} %></li>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li class="active"><a href="#" class="text-dark waves-effect" id="the-what">The What?</a></li>
      <li class=""><a href="#" class="waves-effect" id="the-why">The Why?</a></li>
      <li class=""><a href="#" class="waves-effect" id="the-who">The Who?</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="active"><a href="#" class="waves-effect" id="the-what">The What?</a></li>
      <li class=""><a href="#" class="waves-effect" id="the-why">The Why?</a></li>
      <li class=""><a href="#" class="waves-effect" id="the-who">The Who?</a></li>
    </ul>
  </div>
</nav>